*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Rubik, Inter, sans-serif;
  background-color: #0B2434;
  padding: 10vh 5vw 0vh;
  height: 100vh;
}

main{
  background-color: #f5f5f5;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  max-width: 600px;
  padding: 5% 7%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;
}

.die-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 5%;
}

.die{
  height: 5.3vh;
  width: 10vw;
  background-color: #ffffff;
  padding: 5px;
  box-shadow: 0px 5px 4px rgba(71, 74, 83, 0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
}

.title{
  color: #0B2434;
  font-size: 3rem;
}

.text{
  color: rgb(62, 124, 12);
  font-size: 1rem;
  line-height: 200%;
  letter-spacing: 1px;
  font-weight: 700;
}

button{
  width: 50%;
  margin-left: 25%;
  font-weight: 700;
  font-size: 120%;
  background-color:  rgb(11, 115, 201);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid  rgb(11, 115, 201);
  color: #f5f5f5;
  letter-spacing: 1px;
  padding: 10px 5px;
}

button:hover, button:active, button:focus{
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}

.scores{
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 2%;
}

span{
  color: rgb(17, 140, 197);
}

h2{
  display: none;
}

.dot {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #000000;
}

.dot-active{
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color:#ffffff;
}

.RollButton{
  margin-top: 50px;
}

@media  screen and (min-width:568px) {
  .die{
    width:40px;
    height: 40px;
  }
}


.first-face{
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face{
  display: flex;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2){
  align-self: flex-end;
}

.second-face .dot-active:nth-of-type(2){
  align-self: flex-end;
}

.third-face{
  display: flex;
  justify-content: space-between;
}

.third-face .dot:nth-of-type(3){
  align-self: flex-end;
}
.third-face .dot-active:nth-of-type(3){
  align-self: flex-end;
}

.third-face .dot:nth-of-type(2){
  align-self: center;
}
.third-face .dot-active:nth-of-type(2){
  align-self: center;
}

.fourth-face{
  display: flex;
  justify-content: space-between;
}
.fourth-face .column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fifth-face{
 display: flex;
 justify-content: space-between;
}

.fifth-face .column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2){
  justify-content: center;
}

.sixth-face{
  display: flex;
  justify-content: space-between;
}
.sixth-face .column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3{
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.icon-tags{
  color:#f5f5f5;
  font-size: 30px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.icon-tags:hover, 
.icon-tags:focus, 
.icon-tags:active{
  color: rgb(53, 208, 219);
  font-size: 35px;
}